<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= link_to 'Add Friend', friendships_path(friendship: {friend_id: :user_id}), method: :post %>
  </span>
</li>