<li>
  Name: <%= user.name %></br>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% if current_user.friendships.empty? %>
      <%= link_to 'Add Friend', friendships_path(friend_id: user.id), method: :post %>
    <% else %>
      <%= %>
    <% end %>
  </span>
</li>