<div class="border p-3 mb-3 rounded">
<% friendships.each do |friendship| %>
  <tr>

  <%= friendship.user.name %>

  </tr>
  <small>
    <%= link_to 'Accept friend', friendships_path(friendships), method: 'put', class: 'btn-success p-1 rounded no-link' %>
    <%= link_to 'Reject request', friendships_path(friendships), method: 'delete', class: 'btn-danger p-1 rounded no-link' %></br>
  </small>
<% end %>
</div>